@import url('./css/style.css');

@import url('./Components/Add/Add.css');
@import url('./Components/Dictionary/Dictionary.css');
@import url('./Components/Header/Header.css');
@import url('./Components/Search/Search.css');

@import url('./Components/Modal/Modal.css');
@import url('./Components/Popup/Ppopup.css');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

    color: var(--color-2);
    font: var(--font-text-md);
}

a {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style: none;
}

input,
button {
    border: none;
    background: transparent;
}

section {
    margin-top: 100px;
}
