@import url('./Components/Modal/Modal.css');
@import url('./Components/Add/Add.css');
@import url('./Components/Nav/Nav.css');
@import url('./Components/Popup/Ppopup.css');
@import url('./Components/Search/Search.css');
@import url('./Components/Table/Table.css');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
