.table {
    width: 100%;

    overflow: scroll;
    text-align: center;
}

.thead {
    background-color: var(--color-1);
}

.theading {
    padding: 5px;

    color: white;
    font-weight: 700;
}

.trow *:first-child {
    width: 0;
}

.theading.small,
.tdata.small {
    width: 0;
    white-space: nowrap;

    font: var(--font-subtext-md);
}

.theading.small:last-child,
.tdata.small:last-child {
    width: 0;
}

.tdata.small:last-child {
    position: relative;
}

.tdata.small:last-child::before,
.tdata.small:last-child::after {
    content: '';

    position: absolute;
    top: 15px;
    left: 20px;

    width: 20px;
    height: 3px;

    cursor: pointer;
    background-color: white;
}

.tdata.small:last-child::before {
    transform: rotate(45deg);
}

.tdata.small:last-child::after {
    transform: rotate(-45deg);
}

.tbody .trow {
    opacity: 0.8;

    transition: all 0.1s ease-in-out;
    background-color: var(--color-2);
}

.tbody .trow:hover {
    opacity: 1;
}

.tfoot {
    text-align: right;
    background-color: var(--color-4);
}

.tfoot .theading span {
    font: var(--font-text-md);
    color: white;
}

.thead .theading {
    padding: 10px;
}

.tbody .tdata {
    padding: 0px 5px;

    color: white;
}

.tfoot .theading {
    padding: 10px;

    font: var(--font-text-md);
}

@media (max-width: 999px) {
    .thead .theading {
        padding: 7px;
    }

    .tbody .tdata {
        padding: 0px 3px;
    }

    .tfoot .theading {
        padding: 7px;
    }

    .tdata.small:last-child::before,
    .tdata.small:last-child::after {
        top: 15px;
    }
}

@media (max-width: 888px) {
    .thead .theading {
        padding: 5px;
    }

    .tfoot .theading {
        padding: 5px;
        font: var(--font-text-xs);
    }

    .tfoot .theading span {
        font: var(--font-text-xs);
    }

    .tdata.small:last-child::before,
    .tdata.small:last-child::after {
        top: 15px;
        left: 15px;

        height: 2px;
    }
}
@media (max-width: 768px) {
    .trow .small {
        font: var(--font-subtext-xs);
    }

    .tfoot .theading,
    .tfoot .theading span {
        font: var(--font-text-xs);
    }

    .tdata.small:last-child::before,
    .tdata.small:last-child::after {
        left: 12px;

        width: 15px;
        height: 1.5px;
    }
}
