.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transform: scale(0);
    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal.active {
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
}

.modal-inner {
    width: 80vw;
    height: 80vh;
    margin: 10vh auto;
    padding: 30px;

    box-shadow: 0px 0px 50px 25px var(--color-2);
    background-color: var(--color-1);
}

.modal-close {
    position: relative;

    width: 30px;
    height: 30px;
    margin-left: auto;

    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: '';
    position: absolute;
    left: 0;

    width: 100%;
    height: var(--border-width);
    border-radius: 10px;

    background-color: white;
}

.modal-close::before {
    transform: rotate(45deg) translate(6px, 6px);
    top: 4px;
}

.modal-close::after {
    transform: rotate(-45deg) translate(7px, -7px);
    bottom: 4px;
}

.modal-info * {
    color: white;
}

.modal-info__title {
    margin-bottom: 20px;
    font: var(--font-title-md);
}

.modal-info__word,
.modal-info__translation,
.modal-info__date {
    font: var(--font-text-md);
}

.modal-info__word span,
.modal-info__translation span,
.modal-info__date span {
    font: var(--font-text-lg);
}

@media (max-width: 768px) {
    .modal-inner {
        padding: 25px;
    }

    .modal-info__title {
        margin-bottom: 10px;
        font: var(--font-title-xs);
    }

    .modal-info__word,
    .modal-info__translation,
    .modal-info__date {
        margin-bottom: 3px;

        font: var(--font-text-xs);
    }

    .modal-info__word span,
    .modal-info__translation span,
    .modal-info__date span {
        font: var(--font-text-md);
    }
}

@media (max-width: 555px) {
    .modal-inner {
        width: 90vw;
        height: 90vh;
        margin: 5vh auto;
        padding: 20px;
    }

    .modal-info__title {
        margin-bottom: 7px;

        font: var(--font-text-lg);
        font-weight: 600;
    }
}
