.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transform: scale(0);
    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal.active {
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
}

.modal-inner {
    width: 80vw;
    height: 80vh;
    margin: 10vh auto;
    padding: 30px;

    box-shadow: 0px 0px 50px 25px var(--color-2);
    background-color: var(--color-1);
}

.modal-close {
    width: 30px;
    height: 30px;
    margin-left: auto;

    cursor: pointer;

    background-color: white;
}

.modal-info * {
    color: white;
}

.modal-info__title {
    margin-bottom: 20px;
    font: var(--font-title-md);
}

.modal-info__word,
.modal-info__translation,
.modal-info__date {
    font: var(--font-text-md);
}

.modal-info__word span,
.modal-info__translation span,
.modal-info__date span {
    font: var(--font-text-lg);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
}

#elem {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(300px);

    width: 80%;
    height: 100px;
    margin: auto;
    border-radius: 10px;

    overflow: hidden;
    opacity: 0;

    background: coral;
    transition: transform 1.3s cubic-bezier(0.7, -0.6, 0.3, 1.6),
        opacity 1.3s cubic-bezier(0.7, -0.6, 0.3, 1.6), box-shadow 0.4s ease-in-out 1.35s;
}

#elem span {
    transform: translateY(100px);

    opacity: 1;

    color: cornsilk;
    font: 400 28px/1.5 sans-serif;
    letter-spacing: 3px;
    transition: all 0.4s ease-in-out 1.8s;
}

#elem.click {
    transform: translateY(0px);

    opacity: 1;

    box-shadow: 10px 10px 15px cornflowerblue;
}

#elem.click span {
    transform: translateY(0px);

    opacity: 1;
}

#button {
    margin: 2rem 0 2rem 2rem;

    font-size: 5rem;
}
